[submodule "frontend-backend-docker/janus-webrtc-frontend"]
	path = frontend-backend-docker/janus-webrtc-frontend
	url = git@git.gpac-licensing.com:yanhao/janus-webrtc-frontend.git
[submodule "janus-webrtc-gateway-docker"]
	path = janus-webrtc-gateway-docker
	url = git@git.gpac-licensing.com:yanhao/janus-webrtc-gateway-docker.git
